sudo: false
language: elixir
elixir:
  - 1.7
otp_release:
  - 21.0
cache:
  directories:
    - _build
    - deps
    - priv/node_modules
install:
  - gem install coveralls-multi --no-document
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install 9
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  - npm install
  - cd test/js
  - npm install
  - cd ../..
script:
  - MIX_ENV=test mix coveralls.json
  - coveralls-multi
deploy:
  skip_cleanup: true
  provider: script
  script: mix hex.publish --yes
  on:
    tags: true
